<div class="animate-fade-in">
  <label class="block text-sm font-medium text-app-text2 mb-2">
    {{ 'app.form.resumeTextLabel' | translate }}
  </label>
  <textarea
    [ngModel]="resumeText"
    (ngModelChange)="resumeTextChange.emit($event)"
    rows="10"
    class="w-full rounded-xl border-app-border2 bg-app-bg shadow-inner focus:border-accent focus:ring-accent text-app-text p-4 transition-colors outline-none"
    [placeholder]="'app.form.resumeTextPlaceholder' | translate"
  >
  </textarea>
</div>
