<div
  class="app-card min-h-[400px] flex flex-col items-center justify-center p-12 text-center"
>
  <div
    class="flex items-center justify-center space-x-3 bg-app-bg3 px-8 py-5 rounded-full shadow-sm border border-app-border2 mb-10"
  >
    <div
      class="w-3.5 h-3.5 bg-silver rounded-full animate-bounce"
      style="animation-delay: -0.3s"
    ></div>
    <div
      class="w-3.5 h-3.5 bg-silver rounded-full animate-bounce"
      style="animation-delay: -0.15s"
    ></div>
    <div class="w-3.5 h-3.5 bg-silver rounded-full animate-bounce"></div>
  </div>
  <h3
    class="text-2xl font-outfit font-medium text-app-text transition-all duration-500"
  >
    {{ 'app.loading.msg' + messageIndex | translate }}
  </h3>
  <p class="mt-3 text-app-text2 text-sm">
    {{ 'app.loading.subtext' | translate }}
  </p>
</div>
