@if (!isLoading()) {
  <div
    class="app-card p-6 md:p-10 transition-all duration-300 transform scale-100 relative overflow-hidden"
    [formGroup]="uploadForm"
  >
    <source-toggle [activeTab]="activeTab" (tabChange)="switchTab($event)" />
    <div class="flex flex-col gap-6 mt-6">
      <div class="animate-fade-in">
        @if (activeTab === 'upload') {
          <app-pdf-upload
            [fileName]="fileName"
            (fileSelected)="handleFile($event)"
          />
        }
        @if (activeTab === 'paste') {
          <app-text-paste
            [resumeText]="uploadForm.controls.resumeText.value"
            (resumeTextChange)="uploadForm.controls.resumeText.setValue($event)"
          />
        }
      </div>
      <div class="pt-4 border-t border-app-border2">
        <job-details-form
          [jdText]="uploadForm.controls.jdText.value"
          (jdTextChange)="uploadForm.controls.jdText.setValue($event)"
          [roleText]="uploadForm.controls.roleText.value"
          (roleTextChange)="uploadForm.controls.roleText.setValue($event)"
        />
      </div>
      <alert-message [message]="errorBox" />
      <div class="pt-2">
        <primary-button (clicked)="analyze()">{{
          'app.form.analyzeBtn' | translate
        }}</primary-button>
      </div>
    </div>
  </div>
} @else {
  <loading-spinner />
}
