@if (viewMode === 'form-view') {
<div class="p-6 md:p-8 transition-all duration-300 transform scale-100">
  <source-toggle [activeTab]="activeTab" (tabChange)="switchTab($event)" />
  <div class="flex flex-col gap-10 mt-6">
    @if (activeTab === 'upload') {
    <div class="animate-fade-in">
      <app-pdf-upload [fileName]="fileName" (fileSelected)="handleFile($event)" />
    </div>
    }
    @if (activeTab === 'paste') {
    <div class="animate-fade-in">
      <app-text-paste [(resumeText)]="resumeText" />
    </div>
    }
    <div class="pt-4 border-t border-slate-100 dark:border-slate-800/50">
      <job-details-form [(jdText)]="jdText" [(roleText)]="roleText" />
    </div>
    <alert-message [message]="errorBox" type="error" />
    <div class="pt-2">
      <primary-button (clicked)="analyze()">{{ 'app.form.analyzeBtn' | translate }}</primary-button>
    </div>
  </div>
</div>
}

@if (viewMode === 'loading-view') {
<loading-spinner [messageIndex]="loadingMsgIndex" />
}